<%= render 'shared/header' %>

<style>
    .garis-bawah {
    border-top: solid #f1f1f1 1px;
  }
    .line-horizontal {
      border: dashed;
    }
    .img-add {
      border: 1px solid #eeeeee;
    }
</style>

<div class="container">
    
    <div class="row text-center">
      <% @properties.each do |property| %>
        <% property.images.each do |image| %>
          <%= cl_image_tag(image.path, { size: '', crop: :fit }) %>
        <% end %>
    </div>
    <br>
    <div class="row">
      <p>
        <h3><%= property.name %></h3>
      </p>
    </div>
    <br>
    <!-- detail -->
    <div class="row">
      <div class="col-lg-6">

        <p class="garis-bawah">
          <strong>Location:</strong>
          <h4><%= property.location %></h4>
        </p>

        <p class="garis-bawah">
          <strong>Status:</strong>
          <h4><%= property.status %></h4>
        </p>

        <p class="garis-bawah">
          <strong>Property type:</strong>
          <h4><%= property.property_type %></h4>
        </p>

        <p class="garis-bawah">
          <strong>Bedroom:</strong>
        <h4><%= property.bedroom %></h4>
        </p>

        <p class="garis-bawah">
          <strong>Bathroom:</strong>
        <h4><%= property.bathroom %></h4>
        </p>

      </div>

      <div class="col-lg-6">

        <p class="garis-bawah">
          <strong>Price:</strong>
          <h4><%= number_to_currency(property.price, precision: 0, unit: "Rp. ", separator: "", delimiter: ".") %></h4>
        </p>

        <p class="garis-bawah">
          <strong>Area:</strong>
          <h4><%= property.area %></h4>
        </p>

        <p class="garis-bawah">
          <strong>Luas Bangunan:</strong>
        <h4><%= property.luas_bangunan %></h4>
        </p>

        <p class="garis-bawah">
          <strong>Luas Tanah:</strong>
        <h4><%= property.luas_tanah %></h4>
        </p>

        <p class="garis-bawah">
          <strong>Fasilitas:</strong>
        <h4><%= property.main_fasility %></h4>
        </p>
      </div>
    </div>
    <div class="row">
      <p class="garis-bawah">
        <strong>Keterangan Tambahan:</strong>
      <h4><%= property.main_description %></h4>
    </div>

    <br>
    <div class="row line-horizontal"></div>
    <br><br>

    <h3>Detail Gambar</h3>

      <div class="row img-add">
        <div class="col-lg-6">
          <%= image_tag(property.image_url, width: "400") %>
          <div><i class="fa fa-sticky-note-o"></i>&nbsp;<%= property.image_description %></div>
        </div>
        <div class="col-lg6">
          <%= image_tag(property.image_url2, width: "400") %>
          <div><i class="fa fa-sticky-note-o"></i>&nbsp;<%= property.image_description2 %></div>
        </div>
      </div>
      <div class="row img-add">
        <div class="col-lg-6">
          <%= image_tag(property.image_url3, width: "400") %>
          <div><i class="fa fa-sticky-note-o"></i>&nbsp;<%= property.image_description3 %></div>
        </div>
        <div class="col-lg6">
          <%= image_tag(property.image_url4, width: "400") %>
          <div><i class="fa fa-sticky-note-o"></i>&nbsp;<%= property.image_description4 %></div>
        </div>
      </div>
      <div class="row img-add">
        <div class="col-lg-6">
          <%= image_tag(property.image_url5, width: "400") %>
          <div><i class="fa fa-sticky-note-o"></i>&nbsp;<%= property.image_description5 %></div>
        </div>
        <div class="col-lg6">
          <%= image_tag(property.image_url6, width: "400") %>
          <div><i class="fa fa-sticky-note-o"></i>&nbsp;<%= property.image_description6 %></div>
        </div>
      </div>
<% end %>

<br><br>

  <!--form comment    -->
  <div class="row">

    <div class="col-lg-6">
      <h4><b>Kami mempersembahkan yang terbaik untuk anda</b></h4>
      <br/>

      <div id="content"></div>

      <script type="text/babel">
        // tutorial1-raw.js

        ReactDOM.render(
          <img src="http://res.cloudinary.com/cmp-batam/image/upload/c_scale,h_258,w_400/v1460107221/logocmp_yxxtha.png" />,
          document.getElementById('content')
        );



      </script>

    </div>

      <div class="col-lg-6">
        <h4><b>Kontak Kami</b></h4>
        <%= render 'contacts/form' %>
      </div>
  </div>
</div>

<br><br>

<%= render 'shared/footer' %>