    
<div class="col-sm-9 col-lg-9" style="margin-top: 20px">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <div class="panel panel-primary ">
            <div class="panel-heading">
              <h2><span style="color: #FFFFFF" class="glyphicon glyphicon-home" aria-hidden="true">
                    <span style="color: #FFFFFF">Property List</span>
                  </span>
                  <span class="pull-right">
                    <button class="btn btn-warning" type="button">
                      <span class="badge"><%= @jumlah_prop %></span>
                    </button>
                    <span style="color: #FFFFFF">&nbsp;List Active</span>
                    <%= @jumlah_forsale %>
                  </span>
              </h2>
            </div>

            <style>
              .datax {
                border-bottom:1px #f4f4f4 solid;
              }
            </style>
            <div class="panel-body">
              <div class="row">
                <!--for sale-->
                <div class="col-lg-3">
                  <h3 class="panel-title datax">
                    <button class="btn btn-primary" type="button">
                      <span class="badge"><%= @rumah_forsale %></span>
                    </button>
                    &nbsp;Home For Sale
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-primary" type="button">
                      <span class="badge"><%= @ruko_forsale %></span>
                    </button>
                    &nbsp;Ruko For Sale
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-primary" type="button">
                      <span class="badge"><%= @tanah_forsale %></span>
                    </button>
                    &nbsp;Tanah For Sale
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-primary" type="button">
                      <span class="badge"><%= @townh_forsale %></span>
                    </button>
                    &nbsp;Town H For Sale
                  </h3>
                </div>
                <!--for rent-->
                <div class="col-lg-3">
                  <h3 class="panel-title datax">
                    <button class="btn btn-info" type="button">
                      <span class="badge"><%= @rumah_forrent %></span>
                    </button>
                    &nbsp;Home For Rent
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-info" type="button">
                      <span class="badge"><%= @ruko_forrent %></span>
                    </button>
                    &nbsp;Ruko For Rent
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-info" type="button">
                      <span class="badge"><%= @tanah_forrent %></span>
                    </button>
                    &nbsp;Tanah For Rent
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-info" type="button">
                      <span class="badge"><%= @townh_forrent %></span>
                    </button>
                    &nbsp;Town H For Rent
                  </h3>
                </div>
                <!--tersewa-->
                <div class="col-lg-3">
                  <h3 class="panel-title datax">
                    <button class="btn btn-success" type="button">
                      <span class="badge"><%= @rumah_forrent %></span>
                    </button>
                    &nbsp;Home Leased!
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-success" type="button">
                      <span class="badge"><%= @ruko_forrent %></span>
                    </button>
                    &nbsp;Ruko Leased!
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-success" type="button">
                      <span class="badge"><%= @tanah_forrent %></span>
                    </button>
                    &nbsp;Tanah Leased!
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-success" type="button">
                      <span class="badge"><%= @townh_forrent %></span>
                    </button>
                    &nbsp;Town H Leased!
                  </h3>
                </div>
                <!--sold-->
                <div class="col-lg-3">
                  <h3 class="panel-title datax">
                    <button class="btn btn-danger" type="button">
                      <span class="badge"><%= @rumah_forrent %></span>
                    </button>
                    &nbsp;Home Sold!
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-danger" type="button">
                      <span class="badge"><%= @ruko_forrent %></span>
                    </button>
                    &nbsp;Ruko Sold!
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-danger" type="button">
                      <span class="badge"><%= @tanah_forrent %></span>
                    </button>
                    &nbsp;Tanah Sold!
                  </h3>
                  <h3 class="panel-title datax">
                    <button class="btn btn-danger" type="button">
                      <span class="badge"><%= @townh_forrent %></span>
                    </button>
                    &nbsp;Town H Sold!
                  </h3>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-lg-6 col-xs-12">-->
          <!--<div class="panel panel-info">-->
            <!--<div class="panel-heading">-->
              <!--<h3 class="panel-title"><button class="btn btn-info" type="button">-->
                <!--<span class="badge"><%= @jumlah_banner %></span>-->
              <!--</button></h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
              <!--<h2><span class="glyphicon glyphicon-picture" aria-hidden="true">&nbsp;Banner Images</span></h2>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><button class="btn btn-info" type="button">
                <span class="badge"><%= @jumlah_user %></span>
              </button></h3>
            </div>
            <div class="panel-body">
              <h2><span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;User List</span></h2>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><button class="btn btn-info" type="button">
                <span class="badge"><%= @jumlah_contact %></span>
              </button></h3>
            </div>
            <div class="panel-body">
              <h2><span class="glyphicon glyphicon-inbox" aria-hidden="true">&nbsp;Inbox</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><button class="btn btn-info" type="button">
                <span class="badge"><%= @jumlah_user %></span>
              </button></h3>
            </div>
            <div class="panel-body">
              <h2><span class="glyphicon glyphicon-usd" aria-hidden="true">&nbsp;Sales</span></h2>
              <span style="color: #39b3d7"> ( Premium <i class="glyphicon glyphicon-star"></i>)</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><button class="btn btn-info" type="button">
                <span class="badge">4</span>
              </button></h3>
            </div>
            <div class="panel-body">
              <h2><span class="glyphicon glyphicon-check" aria-hidden="true">&nbsp;Customer</span></h2>
              <span style="color: #39b3d7"> ( Premium <i class="glyphicon glyphicon-star"></i>)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-controller="myController">

        <div>
          <fusioncharts
          width="300"
          height="200"
          type="pie3d"
          datasource="{{myDataSource}}"
          ></fusioncharts>
        </div>

      </div>

    </div>



</div>

