<div class="container">
  <div class="col-lg-9 col-xs-12">
    <%= form_for(@banner) do |f| %>
      <% if @banner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

          <ul>
          <% @banner.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class:"form-control" %>
      </div>
      <div class="field">
          <%= f.label :banner1 %><br>
          <%= f.text_field :banner1, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :banner2 %><br>
        <%= f.text_field :banner2, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :banner3 %><br>
        <%= f.text_field :banner3, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :banner4 %><br>
        <%= f.text_field :banner4, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :banner5 %><br>
        <%= f.text_field :banner5, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :banner6 %><br>
        <%= f.text_field :banner6, class:"form-control" %>
      </div>

      <br><br>
    <div class="actions">
      <%= f.submit class:'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>