<div class="container">
  <div class="col-lg-9 col-xs-12">
    <%= form_for(@banner) do |f| %>
      <% if @banner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

          <ul>
          <% @banner.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description, class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :upload_image %><br>
        <%= f.attachinary_file_field :images %>
      </div>
      <br><br>
    <div class="actions">
      <%= f.submit class:'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>