<div class="col-lg-9 col-xs-12">
  <p id="notice"><%= notice %></p>

  <h1>Listing Banners</h1>
  <br>
  <i class="fa fa-plus-circle"></i>&nbsp;<%= link_to "Add New Banner", new_banner_path %> <br>
  <div class="alert alert-info" role="alert">
    <i>Menambahkan Banner hanya bila Banner masih kosong, untuk mengganti Banner cukup dengan EDIT,
    klik tombol EDIT untuk mengganti Banner lain.</i>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image Url</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
    <% @banners.each do |banner| %>
    <tr>
        <td><%= banner.name %></td>
        <td>
          <dl>
            <dt>Banner1</dt>
            <dd><%= banner.banner1 %></dd>
          </dl>
          <dl>
            <dt>Banner2</dt>
            <dd><%= banner.banner2 %></dd>
          </dl>
          <dl>
            <dt>Banner3</dt>
            <dd><%= banner.banner3 %></dd>
          </dl>
          <dl>
            <dt>Banner4</dt>
            <dd><%= banner.banner4 %></dd>
          </dl>
          <dl>
            <dt>Banner5</dt>
            <dd><%= banner.banner5 %></dd>
          </dl>

        </td>
        <td><i class="glyphicon glyphicon-eye-open"></i><%= link_to 'Show', banner %></td>
        <td><i class="glyphicon glyphicon-pencil"></i><%= link_to 'Edit', edit_banner_path(banner) %></td>
        <td><i class="glyphicon glyphicon-remove"></i><%= link_to 'Remove', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    </tbody>
  </table>

  <br>

</div>