<div class="col-lg-9 col-xs-12">
  <p id="notice"><%= notice %></p>

  <h1>Listing Banners</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @banners.each do |banner| %>
        <tr>
          <td><%= banner.name %></td>
          <td><%= banner.description %></td>
          <td><%= link_to 'Show', banner %></td>
          <td><%= link_to 'Edit', edit_banner_path(banner) %></td>
          <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Banner', new_banner_path %>

</div>