<div class="col-lg-9 col-xs-12">

    <p>
    <% @banner.images.each do |image| %>
        <%= cl_image_tag(image.path, { size: '125x125', crop: :fit }) %>
    <% end %>
    </p>

    <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col-lg-4">
        <p>
          <strong>Banner 1:</strong><br>
          <%= image_tag(@banner.banner1) %>
        </p>

        <p>
          <strong>Banner 2:</strong><br>
          <%= image_tag@banner.banner2 %>
        </p>
        <p>
          <strong>Banner 3:</strong><br>
          <%= image_tag@banner.banner3 %>
        </p>
      </div>

      <div class="col-lg-4">
        <p>
          <strong>Banner 4:</strong><br>
          <%= image_tag@banner.banner4 %>
        </p>
        <p>
          <strong>Banner 5:</strong><br>
          <%= image_tag@banner.banner5 %>
        </p>
        <p>
          <strong>Banner 6:</strong><br>
          <%= image_tag@banner.banner6 %>
        </p>
      </div>

    </div>
    <div class="row">
      <%= link_to 'Edit', edit_banner_path(@banner) %> |
      <%= link_to 'Back', banners_path %>
    </div>

</div>

<br><br>