<div class="container">
  <div class="col-lg-4 col-lg-offset-4" style="margin-top: 40px">

    <h2 class="text-center"><span  style="color: #0e83e0"><i class="fa fa-unlock fa-4x"></i></span><br>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class:"btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>