<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control"  %>
  </div>

  <div class="field">
    <%= f.label :alias %><br>
    <%= f.text_field :slug, class:"form-control", :value => @property.name %>
  </div>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.select(:location, options_for_select([
          ['Baloi','Baloi'],
          ['Barelang','Barelang'],
          ['Batam Center','Batam Center'],
          ['Botania','Botania'],
          ['Batam Kota','Batam Kota'],
          ['Batu Aji','Batu Aji'],
          ['Batu Ampar','Batu Ampar'],
          ['Bengkong','Bengkong'],
          ['Jodoh','Jodoh'],
          ['Muka Kuning','Muka Kuning'],
          ['Nagoya','Nagoya'],
          ['Sei Panas','Sei Panas'],
          ['Sekupang','Sekupang'],
          ['Sukajadi','Sukajadi'],
          ['Tg Piayu','Tg Piayu'],
          ['Tiban','Tiban']
        ], @property.location
      ),
         {:prompt => "Pilih.."},
         {class: "form-control"}
      ) %>
  </div>
  <div class="field">
    <%= f.label :status %><br>

    <%= f.select(:status, options_for_select([
          ['For Rent', 'For Rent'],
          ['Disewa Cepat!', 'Disewa Cepat'],
          ['For Sale', 'For Sale'],
          ['Dijual Cepat!', 'Dijual Cepat'],
          ['Sold !', 'Sold !' ],
          ['Leased !', 'Leased !']
      ]),
         {:prompt => "Pilih.."},
         {:class => "form-control"}
    ) %>
  </div>
  <div class="field">
    <%= f.label :property_type %><br>
    <%= f.select(:property_type, options_for_select([
                     ['Rumah', 'Rumah'],
                     ['Apartemen', 'Apartemen'],
                     ['Kantor', 'Kantor' ],
                     ['Ruko', 'Ruko'],
                     ['Tanah', 'Tanah'],
                     ['Gudang', 'Gudang']
                 ], @property.property_type
              ),
                 {:prompt => "Pilih.."},
                 {:class => "form-control"}
        ) %>
  </div>

  <div class="field">
    <%= f.label :bedroom %><br>
    <%= f.number_field :bedroom, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :bathroom %><br>
    <%= f.number_field :bathroom, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area, class:"form-control" %>
  </div>
    <br>
  <div class="field">
    <%= f.label :upload_image, "Upload Foto Utama" %><br>
    <%= f.attachinary_file_field :images %>
  </div>
    <br>
  <div>
    <%= f.label :active, 'List Aktif' %>
    <%= f.select(:active, options_for_select([
           ['Yes','1'],
           ['No','2']], @property.active),
           {:prompt => "Pilih.."},
           {class: "form-control"}
    ) %>
  </div>

  <br>

  <h3>Upload another Foto via <a href="http://cloudinary.com/">Cloudinary</a></h3>
  <div class="field">
    <%= f.label :image_url, "Foto 1" %><br>
    <%= f.text_field :image_url, class:"form-control" %>
  </div>
  <div>
    <%= f.label :image_description, "Description Foto 1" %><br>
    <%= f.text_field :image_description, class:"form-control" %>
  </div>
    <br>
  <div class="field">
    <%= f.label :image_url2, "Foto 2" %><br>
    <%= f.text_field :image_url2, class:"form-control" %>
  </div>
  <div>
    <%= f.label :image_description2, "Description Foto 2" %><br>
    <%= f.text_field :image_description2, class:"form-control" %>
  </div>
    <br>
  <div class="field">
    <%= f.label :image_url3, "Foto 3" %><br>
    <%= f.text_field :image_url3, class:"form-control" %>
  </div>
  <div>
    <%= f.label :image_description3, "Description Foto 3" %><br>
    <%= f.text_field :image_description3, class:"form-control" %>
  </div>
    <br>
  <div class="field">
    <%= f.label :image_url4, "Foto 4" %><br>
    <%= f.text_field :image_url4, class:"form-control" %>
  </div>
  <div>
    <%= f.label :image_description4, "Description Foto 4" %><br>
    <%= f.text_field :image_description4, class:"form-control" %>
  </div>
    <br>
  <div class="field">
    <%= f.label :image_url5, "Foto 5" %><br>
    <%= f.text_field :image_url5, class:"form-control" %>
  </div>
  <div>
    <%= f.label :image_url5, "Description Foto 5" %><br>
    <%= f.text_field :image_description5, class:"form-control" %>
  </div>
    <br>
  <div class="field">
    <%= f.label :image_url6, "Foto 6" %><br>
    <%= f.text_field :image_url6, class:"form-control" %>
  </div>
  <div>
    <%= f.label :image_description6, "Description Foto 6" %><br>
    <%= f.text_field :image_description6, class:"form-control" %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
