<p id="notice"><%= notice %></p>

<h1>Listing Properties</h1>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <!-- <th>Location</th>
      <th>Status</th>
      <th>Property type</th> -->
      <th>Bedroom</th>
      <th>Bathroom</th>
      <th>Price</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @properties.each do |property| %>
      <tr>
        <td>
          <% property.images.each do |image| %>
            <%= cl_image_tag(image.path, { size: '125x125', crop: :fit }) %>
          <% end %>
        </td>
        
        <td>
          <dl>
            <dt><%= property.name %></dt>
            <dd><%= property.location %></dd>
            <dd><%= property.status %></dd>
            <dd><%= property.property_type %></dd>
            <dd></dd>
          </dl>
        </td>
        <td><%= property.bedroom %></td>
        <td><%= property.bathroom %></td>
        <td><%= property.price %></td>
        <td><%= property.area %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
