<div class="col-md-8 col-sm-9">  
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-8">
      <h1>Listing Properties</h1>
    </div>
  </div>
  
  <br>
  <% if user_signed_in? %>
    <h3><i class="fa fa-plus-square-o fa-lg"></i>&nbsp;<%= link_to 'Add Property', new_property_path %>
      | Total Active: <%= @jumlah_prop %>
    </h3>
  <% end %>
  <br>
  <table class="table">
    <thead>
      <tr>
        <!-- <th>Image</th> -->
        <!-- <th>Name</th> -->
        <!-- <th>Location</th>
        <th>Status</th>
        <th>Property type</th> -->
        <!-- <th>Bedroom</th>
        <th>Bathroom</th>
        <th>Price</th>
        <th>Area</th> -->
        <!-- <th colspan="3">Actions</th> -->
      </tr>
    </thead>

    <tbody>

      <% @properties.each do |property| %>
        <tr>
          <td>
            <% property.images.each do |image| %>
              <%= cl_image_tag(image.path, { size: '325x325', crop: :fit }) %>
            <% end %>
          </td>

          <td>
            <dl>
              <dt><h3><%= property.name %> <br>
                <% if property.active == '1' %>
                  <small><span class="label label-success">Active</span></small>
                <% else %>
                  <small><span class="label label-danger">Not Active</span></small>
                <% end %>
                </h3>
              </dt>
              <p>Alias:<%= property.slug %></p>
              <dd><i class="fa fa-calendar"></i>&nbsp;<span class='label label-primary'>Tanggal: <%= property.created_at.strftime(" %d %B %Y, %H:%M ") %></span></dd>
              <dd><i class="fa fa-check"></i>&nbsp;Lokasi: <%= property.location %></dd>
              <dd><i class="fa fa-check"></i>&nbsp;Satus: <%= property.status %></dd>
              <dd><i class="fa fa-check"></i>&nbsp;Type:  <%= property.property_type %></dd>
              <dd><i class="fa fa-check"></i>&nbsp;Bedroom: <%= property.bedroom %></dd>
              <dd><i class="fa fa-check"></i>&nbsp;Bathroom: <%= property.bathroom %></dd>
              <dd><i class="fa fa-check"></i>&nbsp;Luas area: <%= property.area %></dd>
              <!-- <dd><i class="fa fa-check"></i>&nbsp;Harga Rp.: <h4><%= property.price %></h4></dd> -->
              <dd><i class="fa fa-check"></i>&nbsp;Harga Rp.: <h4><%= number_to_currency(property.price, precision: 0, unit: "Rp.", separator: "", delimiter: ".") %></h4></dd>
            </dl>
          </td>

          <td><i class="fa fa-eye"></i>&nbsp;<%= link_to 'Show', property %></td>
          <% if user_signed_in? %>
            <td><i class="fa fa-pencil-square-o"></i><%= link_to 'Edit', edit_property_path(property) %></td>
            <td><i class="fa fa-trash"></i>&nbsp;<%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  
  <%= will_paginate @posts, :style => 'color:blue' %>

  <br><br><br><br>
</div>