<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @property.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @property.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @property.bathroom %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Area:</strong>
  <%= @property.area %>
</p>

<% @property.images.each do |image| %>
    <%= cl_image_tag(image.path, { size: '125x125', crop: :fit }) %>
<% end %>
<br>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
