<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Administrator Page</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-desktop"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/" target="_blank">Site Preview</a></li>
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/properties">Property List</a></li>
            <!-- <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li><a href="#">Hello: <%= current_user.email %> </a></li>
              <li>
                <%= link_to('Edit registration', edit_user_registration_path) %>
              </li>
            <% else %>
              <li>
                <%= link_to('Register', new_user_registration_path)  %>
              </li>
            <% end %>

            <li><a href="#">Profile</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><% if user_signed_in? %>
                    <li>
                      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                    </li>
                <% else %>
                    <li>
                      <%= link_to('Login', new_user_session_path)  %>
                    </li>
                <% end %>
            </li>
          </ul>
        </li>
        <li><a href="#">Photo</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>