<section id="search">

  <div class="container">

    <style>
      .form-search {
        border: 1px solid #eeeeee;
        padding: 20px 10px 10px 10px;
        background-color: #eeeeee;
      }
        .btn {
          margin-top: 8px;
        }

    </style>


   <!-- Heading -->
   <h3><i class="fa fa-search"></i>&nbsp;Find Your Home Here</h3>

    <div class="form-search">
      <%= search_form_for @q do |f| %>
        <div class="row">
          <div class="col-lg-3">
            <%= f.label :location_count, 'Property Location' %>
            <%= f.search_field :location_cont, class:'form-control', :placeholder => "Any" %>
          </div>
          <div class="col-lg-3">
            <%= f.label :status_cont, 'Property Status' %>
            <%= f.search_field :status_cont, class:'form-control', :placeholder => "Any" %>
          </div>
          <div class="col-lg-3">
            <%= f.label :type_count, 'Property Type' %>
            <%= f.search_field :property_type_cont, class:'form-control', :placeholder => "Any" %>
          </div>
          <div class="col-lg-3">
            <%= f.label :bedroom_count, 'Min Bedroom' %>
            <%= f.search_field :bedroom_eq, class:'form-control', :placeholder => "Any" %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <%= f.label :bathroom_count, 'Min Bathroom' %>
            <%= f.search_field :bathroom_eq, class:'form-control', :placeholder => "Any" %>
          </div>
          <div class="col-lg-3">
            <%= f.label :price_gteq, 'Min Price' %>
            <%= f.search_field :price_gteq, class:'form-control', :placeholder => "Any" %>
          </div>
          <div class="col-lg-3">
            <%= f.label :price_lteq, 'Max Price' %>
            <%= f.search_field :price_lteq, class:'form-control', :placeholder => "Any" %>
          </div>
          <div class="col-lg-2">
            <%= f.label :area_eq, 'Min Area' %>
            <%= f.search_field :area_eq, class:'form-control', :placeholder => "Any" %>
          </div>
          <div class="action col-lg-2">
            <br>
            <%= f.submit class: "btn btn-primary btn-lg" %>
          </div>

        </div>


      <% end %>

    </div>

  </div>
</section>