<section id="search">

  <div class="container">

    <style>
      .form-search {
        border: 1px solid #eeeeee;
        padding: 20px 10px 20px 10px;
        background-color: #eeeeee;
      }
      .btn {
        margin-top: 8px;
      }
      .baris {
        margin-top: 10px;
      }

    </style>


   <!-- Heading -->
   <h3><i class="fa fa-search"></i>&nbsp;Find Your Home</h3>

    <div class="form-search">
      <%= search_form_for @q do |f| %>
        <div class="row baris">
          <div class="col-lg-3">
            <%= f.label :location_cont, 'Property Location' %>
            <%= f.select(:location_cont, options_for_select([
                                                                ['Baloi','Baloi'],
                                                                ['Barelang','Barelang'],
                                                                ['Batam Center','Batam Center'],
                                                                ['Botania','Botania'],
                                                                ['Batam Kota','Batam Kota'],
                                                                ['Batu Aji','Batu Aji'],
                                                                ['Batu Ampar','Batu Ampar'],
                                                                ['Bengkong','Bengkong'],
                                                                ['Jodoh','Jodoh'],
                                                                ['Muka Kuning','Muka Kuning'],
                                                                ['Nagoya','Nagoya'],
                                                                ['Sei Panas','Sei Panas'],
                                                                ['Sekupang','Sekupang'],
                                                                ['Sukajadi','Sukajadi'],
                                                                ['Tg Piayu','Tg Piayu'],
                                                                ['Tiban','Tiban']
                                                            ]),
                         {:prompt => "Any"},
                         {class: "form-control"}
                ) %>
          </div>

          <div class="col-lg-3">
            <%= f.label :status_cont, 'Property Status' %>
            <% f.search_field :status_cont, class:'form-control', :placeholder => "Any" %>
            <%= f.select(:status_cont, options_for_select([
                    ['For Rent', 'For Rent'],
                    ['For Sale', 'For Sale'],
                    ['Sold !', 'Sold !' ],
                    ['Leased !', 'Leased !']
                  ]),
              {:prompt => "Any"},
              {:class => "form-control"}
            ) %>
          </div>

          <div class="col-lg-3">
            <%= f.label :property_type_cont, 'Property Type' %>
            <%= f.select(:property_type_cont, options_for_select([
                          ['Rumah', 'Rumah'],
                          ['Apartemen', 'Apartemen'],
                          ['Kantor', 'Kantor' ],
                          ['Ruko', 'Ruko'],
                          ['Tanah', 'Tanah'],
                          ['Gudang', 'Gudang']
               ]),
               {:prompt => "Any"},
               {:class => "form-control"}
            ) %>
          </div>

          <div class="col-lg-3">
            <%= f.label :bedroom_eq, 'Min Bedroom' %>
            <%= f.select(:bedroom_eq, options_for_select([
                     ['1', '1'],
                     ['2', '2'],
                     ['3', '3' ],
                     ['4', '4'],
                     ['5', '5'],
                     ['6', '6']
                 ]),
               {:prompt => "Any"},
               {:class => "form-control"}
                ) %>
          </div>
        </div>

        <div class="row baris">
          <div class="col-lg-2">
            <%= f.label :bathroom_eq, 'Min Bathroom' %>
            <%= f.select(:bathroom_eq, options_for_select([
                     ['1', '1'],
                     ['2', '2'],
                     ['3', '3' ],
                     ['4', '4'],
                     ['5', '5'],
                     ['6', '6']
                 ]),
               {:prompt => "Any"},
               {:class => "form-control"}
                ) %>
          </div>
          <div class="col-lg-3">
            <%= f.label :price_gteq, 'Min Price' %>
            <%= f.select(:price_gteq, options_for_select([
               ['Rp.100 Juta', '100000000'],
               ['Rp.200 Juta', '200000000'],
               ['Rp.300 Juta', '300000000'],
               ['Rp.400 Juta', '400000000'],
               ['Rp.500 Juta', '500000000'],
               ['Rp.600 Juta', '600000000'],
               ['Rp.700 Juta', '700000000'],
               ['Rp.800 Juta', '800000000'],
               ['Rp.900 Juta', '900000000'],
               ['Rp.1 Milyar', '1000000000'],
               ['Rp.2 Milyar', '2000000000'],
               ['Rp.3 Milyar', '3000000000'],
               ['Rp.4 Milyar', '4000000000'],
               ['Rp.5 Milyar', '5000000000'],
               ['Rp.6 Milyar', '6000000000'],
               ['Rp.7 Milyar', '7000000000'],
               ['Rp.8 Milyar', '8000000000'],
               ['Any', 'Any' ]
                ]),
               {:prompt => "Any"},
               {:class => "form-control"}
                ) %>
          </div>

          <div class="col-lg-3">
            <%= f.label :price_lteq, 'Max Price' %>
            <%= f.select(:price_lteq, options_for_select([
                     ['Rp.100 Juta', '100000000'],
                     ['Rp.200 Juta', '200000000'],
                     ['Rp.300 Juta', '300000000'],
                     ['Rp.400 Juta', '400000000'],
                     ['Rp.500 Juta', '500000000'],
                     ['Rp.600 Juta', '600000000'],
                     ['Rp.700 Juta', '700000000'],
                     ['Rp.800 Juta', '800000000'],
                     ['Rp.900 Juta', '900000000'],
                     ['Rp.1 Milyar', '1000000000'],
                     ['Rp.2 Milyar', '2000000000'],
                     ['Rp.3 Milyar', '3000000000'],
                     ['Rp.4 Milyar', '4000000000'],
                     ['Rp.5 Milyar', '5000000000'],
                     ['Rp.6 Milyar', '6000000000'],
                     ['Rp.7 Milyar', '7000000000'],
                     ['Rp.8 Milyar', '8000000000'],
                     ['Any', 'Any' ]

                 ]),
                 {:prompt => "Any"},
                 {:class => "form-control"}
                ) %>
          </div>

          <div class="col-lg-2">
            <%= f.label :area_eq, 'Min Area' %>
            <%= f.search_field :area_eq, class:'form-control', :placeholder => "Any" %>
          </div>

          <div class="action col-lg-2">
            <br>
            <%= f.submit class: "btn btn-primary btn-lg" %>
          </div>

        </div>


      <% end %>

    </div>

  </div>
</section>