<!DOCTYPE html>
<html ng-app="myModule">
<head>
  <title>Administration | Citra Megah Properti Batam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<meta name="description" content="">
	<meta name="author" content="WebThemez">
	
	<link rel="stylesheet" href="/theme/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/theme/css/isotope.css" media="screen" />
	<link rel="stylesheet" href="/theme/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link href="/theme/css/animate.css" rel="stylesheet" media="screen">
	<!-- Owl Carousel Assets -->
	<link href="/theme/js/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link rel="stylesheet" href="/theme/css/styles.css" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style type="text/css">
        body{margin-top:50px;}
        .glyphicon { margin-right:10px; }
        .panel-body { padding:0px; }
        .panel-body table tr td { padding-left: 15px }
        .panel-body .table {margin-bottom: 0px; }
    </style>

    <!--bootstrap-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="/Scripts/angular-fusioncharts.min.js"></script>
    <script src="/Scripts/Scripts.js"></script>

</head>

<body>
	<%= render 'shared/navbar_admin' %>

	<div class="row">
        <div class="col-sm-3 col-md-3">
            <%= render 'shared/menu_admin' %>
        </div>
    	<%= yield %>    
    </div>

	

</body>
</html>
