<!DOCTYPE html>
<html>
<head>
  <title>Citra Megah Properti Batam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--[if lt IE 9]> 
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <![endif]-->
	<meta name="description" content="">
	<meta name="author" content="WebThemez">
	<!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	<!--[if lte IE 8]>
			<script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
		<![endif]-->
	<link rel="stylesheet" href="/theme/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/theme/css/isotope.css" media="screen" />
	<link rel="stylesheet" href="/theme/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link href="/theme/css/animate.css" rel="stylesheet" media="screen">

  <!-- Owl Carousel Assets -->
	<link href="/theme/js/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link rel="stylesheet" href="/theme/css/styles.css" />

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- react -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  <script src='https://cdn.rawgit.com/moroshko/react-autosuggest/847fe9d/dist/standalone/autosuggest.min.js'></script>
    
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="/Scripts/Scripts.js"></script>

</head>

<body ng-app="myModule">

	<%= yield %>

</body>
</html>
